<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 my-3">
                <div class="row align-items-center">
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill"
                            ng-click="vm.resetKodeTagihan()">
                            <i class="fa fa-upload me-2"></i> Reset Kode Tagihan
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill" ng-click="vm.fixDataTagihan()"
                            title="Fix data Tagihan (Add guru)">
                            <i class="fa fa-upload me-2"></i> Fix data Tagihan
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill"
                            ng-click="vm.addFieldKeluarDeposit()" title="Add Field Tanggal Terima Deposit">
                            <i class="fa fa-upload me-2"></i> Tanggal Terima Deposit
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill"
                            ng-click="vm.addFieldSequancePendaftaranKursus()"
                            title="Add Field Sequance Pendaftaran Tempat Kursus">
                            <i class="fa fa-upload me-2"></i> Sequance Pendaftaran
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill"
                            ng-click="vm.updateNoFormulirSiswa()" title="Update No. Formulir Siswa">
                            <i class="fa fa-upload me-2"></i> No. Formulir Siswa
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill"
                            ng-click="vm.addFieldYouTubeWeb()" title="Add Field Youtube Untuk WEB">
                            <i class="fa fa-upload me-2"></i> Youtube Untuk WEB
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill" ng-click="vm.addFieldPhoneWeb()"
                            title="Add Field Phone Untuk WEB">
                            <i class="fa fa-upload me-2"></i> Phone Untuk WEB
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill" ng-click="vm.addMenuIuran()"
                            title="Add Menu Iuran">
                            <i class="fa fa-upload me-2"></i> Iuran
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill"
                            ng-click="vm.addTableRiwayatPenarikan()"
                            title="Adding Table penarikan, adding boolean tarik into tabungan_aset and add status field to cicilan_aset (for verif cicilan)">
                            <i class="fa fa-upload me-2"></i> Modification for 1.2
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill" ng-click="vm.patch('1/3')"
                            title="Adding modal and report modal">
                            <i class="fa fa-upload me-2"></i> Modification for 1.3
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill" ng-click="vm.patch('1/4')"
                            title="Adding field no rek ortu for orang">
                            <i class="fa fa-upload me-2"></i> Modification for 1.4
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill" ng-click="vm.patch('1/5')"
                            title="Adding menu laporan siswa utang">
                            <i class="fa fa-upload me-2"></i> Modification for 1.5
                        </button>
                    </div>
                    <div class="col-2 p-2 d-flex">
                        <button type="button" class="btn bg-gradient-primary flex-fill" ng-click="vm.patch('1/6')"
                            title="Adding field to tempat kursus">
                            <i class="fa fa-upload me-2"></i> Modification for 1.6
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>