<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 my-3">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn bg-gradient-primary mb-0" ng-click="vm.resetKodeTagihan()">
                        <i class="fa fa-refresh me-2"></i> Reset Kode Tagihan
                    </button>
                    <button type="button" class="btn bg-gradient-primary mb-0 mx-2" ng-click="vm.fixDataTagihan()">
                        <i class="fa fa-refresh me-2"></i> Fix data Tagihan (Add guru)
                    </button>
                    <button type="button" class="btn bg-gradient-primary mb-0 mx-2" ng-click="vm.addFieldKeluarDeposit()">
                        <i class="fa fa-refresh me-2"></i> Add Field Tanggal Terima Deposit
                    </button>
                    <button type="button" class="btn bg-gradient-primary mb-0 mx-2" ng-click="vm.addFieldSequancePendaftaranKursus()">
                        <i class="fa fa-refresh me-2"></i> Add Field Sequance Pendaftaran Tempat Kursus
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>