<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="margin-top: 10px;">
        <table>
            <tr>
                <td>From</td>
                <td>:</td>
                <td>{{name}} ({{email}})</td>
            </tr>
        </table>
    </div>

    <hr style="margin-top: 10px; margin-bottom: 10px">

    <p>{{message}}</p>
</body>
</html>