<div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('./public/assets/img/curved-images/curved0.jpg'); background-position-y: 50%;">
    <span class="mask bg-gradient-primary opacity-6"></span>
</div>

<div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
    <h3 class="text-center">Page Not Found</h3>
</div>