<div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('./public/assets/img/curved-images/curved1.jpg'); background-position-y: 50%;">
    <span class="mask bg-gradient-primary opacity-6"></span>
</div>

<div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
    <div class="col-auto my-auto">
        <div class="h-100">
            <h5 class="mb-1" ng-bind="vm.user.orang.nama"></h5>
        </div>
    </div>
</div>