<div class="row">
    <div class="col-12 my-3">
        <div class="d-flex align-items-center">
            <div ng-repeat="field in vm.fields" class="me-2">
                <app-form-input type="{{field.type}}" expr="vm.data.{{field.value}}" ng-show="!field.hidden"></app-form-input>
            </div>
            <button type="button" class="btn bg-gradient-primary mb-0" ng-click="vm.generate()">
                <i class="fas fa-plus me-2"></i> Generate
            </button>
        </div>
    </div>

    <div class="col-12">
        <iframe ng-hide="vm.myPdf" id="myPdf" frameborder="0" width="100%" height="400"></iframe>
    </div>
</div>