<app-modal data='vm.data'>
    <app-modal-title>Filter</app-modal-title>

    <app-modal-body>
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-end">
                            <button type="button" class="btn btn-link text-primary text-gradient m-0" ng-click="vm.tambahFilter()">
                                <i class="fa fa-plus"></i> Tambah
                            </button>
                        </div>

                        <table>
                            <tr ng-repeat="(i, d) in vm.filterData">
                                <td class="p-2">
                                    <select
                                        ng-model="vm.filterData[i].field"
                                        class="form-select form-select-sm"
                                        ng-options="item.value as item.label for item in vm.fieldOptions"
                                        ng-change="vm.changeField(i)">
                                    </select>
                                </td>
                                <td ng-if="d.selected" class="p-2">
                                    <select
                                        ng-model="vm.filterData[i].operation"
                                        class="form-select form-select-sm"
                                        ng-options="item.value as item.label for item in d.selected.operation">
                                    </select>
                                </td>
                                <td ng-if="d.selected" class="p-2">
                                    <input
                                        ng-if="d.selected.type == 'number'" 
                                        type="text" 
                                        ng-model="vm.filterData[i].value"
                                        app-number-input="true"
                                        class="form-control form-control-sm">

                                    <input
                                        ng-if="d.selected.type == 'date'" 
                                        type="text" 
                                        ng-model="vm.filterData[i].value"
                                        app-date-picker="true"
                                        class="form-control form-control-sm">

                                    <input
                                        ng-if="d.selected.type == 'time'" 
                                        type="text" 
                                        ng-model="vm.filterData[i].value"
                                        app-time-picker="true"
                                        class="form-control form-control-sm">

                                    <select
                                        ng-if="d.selected.type == 'selection'" 
                                        type="text" 
                                        ng-model="vm.filterData[i].value"
                                        class="form-select form-select-sm"
                                        ng-options="item.value as item.label for item in d.selected.selection">
                                    </select>

                                    <div ng-if="d.selected.type == 'boolean'" class="form-check">
                                        <input 
                                        type="checkbox"
                                        class="form-check-input"
                                        ng-model="vm.filterData[i].value"
                                        ng-true-value="1"
                                        ng-false-value="0">
                                    </div>

                                    <input
                                        ng-if="!d.selected.type"
                                        type="text" 
                                        ng-model="vm.filterData[i].value"
                                        class="form-control form-control-sm">
                                </td>
                                <td class="p-2" ng-if="i != 0">
                                    <button type="button" class="btn btn-link text-danger text-gradient px-3 mb-0" ng-click="vm.deleteFilter(i)">
                                        <i class="far fa-trash-alt me-2"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </app-modal-body>

    <app-modal-footer>
        <button type="button" class="btn btn-link text-dark text-gradient px-3" data-bs-dismiss="modal">
            <i class="fas fa-times me-2"></i> Close
        </button>
        <button type="button" class="btn btn-link text-primary text-gradient px-3" ng-click="vm.clearFilter()">
            <i class="fas fa-times me-2"></i> Clear
        </button>
        <button type="button" class="btn btn-link text-primary text-gradient px-3" ng-click="vm.applyFilter()" data-bs-dismiss="modal">
            <i class="fas fa-check me-2"></i> Apply
        </button>
    </app-modal-footer>
</app-modal>