<app-table table="gurus" fields="vm.fields" detail="guru_detail" form="guru_form">
    <app-table-button>
        <button class="btn btn-link text-primary text-gradient px-3 py-0 mb-0" ng-click="vm.liatGuru()">
            <i class="fas fa-eye me-2"></i> Guru Tersedia
        </button>
        <button class="btn btn-link text-primary text-gradient px-3 py-0 mb-0" ng-click="vm.generateGaji()">
            <i class="fas fa-file me-2"></i> Generate Gaji
        </button>
    </app-table-button>
</app-table>