.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: calc(100vh - 218px);
}


.autoComplete_wrapper > input {
    width: inherit;
    height: inherit;
    font-size: 0.75rem;
    color: #495057;
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
}


.table-preview .content {
    position: relative;
    width: 100%;
}
.table-preview .content:before {
    content: '&nbsp;';
    visibility: hidden;
}
.table-preview .content > span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-container {
    position: absolute;
    right: 30px;
    top: 20px;
}

.img-container img {
    height: 100px;
    width: 100px;
}


.input-group:not(.focused) .form-control {
    padding-left: 1px !important;
}

.select2-container--bootstrap-5 {
    min-width: 176px;
}


/* Loading */
.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  

/* .ng-invalid.ng-touched, .ng-submitted .ng-invalid {
    border-color: #ea0606 !important;
} */