<div ng-controller="ShellController as vm">
    <div ng-show="!showSplash">
        <div ng-if="!showLoginPage">
            {% include "/Template/View/partial/sidebar.twig" %}

            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">

                <app-navbar></app-navbar>

                <div class="container-fluid pb-5">
                    {# {% include "/Template/View/partial/breadcrumb.twig" %} #}
                    <div ui-view class="shuffle-animation"></div>
                </div>
            </main>
        </div>

        {% include "/Template/View/partial/login.twig" %}
    </div>
</div>