<app-modal data='vm.data'>
    <app-modal-title>Ganti Password</app-modal-title>

    <app-modal-body>
        <div class="row">
            <div class="col-12">
                <table>
                    <tr>
                        <td class="text-xs">Password</td>
                        <td class="px-3">:</td>
                        <td>
                            <input type="password" ng-model="vm.form.password" class="form-control form-control-sm">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </app-modal-body>

    <app-modal-footer>
        <button type="button" class="btn btn-link text-primary text-gradient px-3" ng-click="vm.saveUser()">
            <i class="fas fa-save me-2"></i> Save
        </button>
        <button type="button" class="btn btn-link text-dark text-gradient px-3" data-bs-dismiss="modal">
            <i class="fas fa-times me-2"></i> Close
        </button>
    </app-modal-footer>
</app-modal>