<table class="header">
    <tr>
        <td style="width: 50%;">
            <table>
                <tr><td><div class="logo-container"></div></td></tr>
                <tr><td class="small text-center font-weight-bold">Komplek Griya Mas Blok F No.9</td></tr>
                <tr><td class="small text-center font-weight-bold">Komplek Permata Balok Blok D2 No. 08</td></tr>
                <tr><td class="small text-center font-weight-bold">Ruko Mini Cahaya Garden Blok B3 No.18</td></tr>
                <tr><td class="small text-center font-weight-bold">Hp : 0812-617-9612 Email : lim_weida@yahoo.com</td></tr>
            </table>
        </td>

        <td style="width: 50%;">
            <div class="title color-red pt-30">Kwitansi <span class="mandarin">(收款收据)</span></div>
            <table class="report-table font-weight-bold">
                <tr>
                    <td class="pr-10 fn-20">NO. <span class="mandarin">(收款号码)</span></td>
                    <td class="fn-20 pr-10">:</td>
                    <td class="color-red fn-25">{{nomor}}</td>
                </tr>
                <tr>
                    <td class="pr-10 fn-20 pt-20">TGL. <span class="mandarin">(收据日期)</span></td>
                    <td class="fn-20 pr-10 pt-20">:</td>
                    <td>
                        <div class="fn-25 border-bottom pt-20" style="width: 130px">{{ "now"|date("d/m/Y") }}</div>
                    </td>
                </tr>
            </table>
        </td>
            
    </tr>
</table>