<table class="table-keterangan font-weight-bold text-center">

    <tr>
        <td class="border-btm-2">
            Keterangan
        </td>
    </tr>

    <tr>
        <td class="full-height border-btm-2">
            {{tagihan.keterangan}}
        </td>
    </tr>

</table>