<table class="table-nominal">
    <tr>
        <td class="pr-10">RP</td>
        <td class="pr-10">
            <div class="nominal-place"></div>
        </td>
        <td class="text-center fn-15 pl-10">
            <span class="mandarin">学生一家（盖章有效）</span>
            <div class="stamp-text">Stamp Students Of One Family</div>
        </td>
    </tr>
</table>