<table class="table-paraf font-weight-bold text-center">

    <tr>
        <td class="border-btm-2">
            PARAF <span class="mandarin">( 签署人 )</span>
        </td>
    </tr>

    <tr>
        <td class="border-btm-2">
            Pembukuan <br>
            <span class="mandarin">(会计)</span>
        </td>
    </tr>

    <tr>
        <td class="big-empty border-btm-2">
    
        </td>
    </tr>

    <tr>
        <td class="border-btm-2">
            Kasir <br>
            <span class="mandarin">(收款员)</span>
        </td>
    </tr>

    <tr>
        <td class="big-empty border-btm-2">
    
        </td>
    </tr>

    <tr>
        <td class="border-btm-2">
            Orang Tua/Siswa <br>
            <span class="mandarin">(家长/学生)</span>
        </td>
    </tr>

    <tr>
        <td class="big-empty">
    
        </td>
    </tr>

    <tr>
        <td class="border-btm-2">
            Nama Lengkap <br>
            <span class="mandarin">(全名)</span>
        </td>
    </tr>

</table>