<table class="table-input">
    <tr>
        <td class="pr-10"> Program Belajar </td>
        <td class="pr-10"> : </td>
        <td class="pr-10"> <div class="checkbox"></div> Mandarin </td>
        <td class="pr-10"> <div class="checkbox"></div> Inggris </td>
        <td class="pr-10"> <div class="checkbox"></div> Bimbel </td>
        <td class="pr-10"> <div class="checkbox"></div> Calistung </td>
        <td class="pr-10"> <div class="checkbox"></div> ..................... </td>
    </tr>
    <tr>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">课侱</span>
        </td>
        <td></td>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">华文班</span>
        </td>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">英文班</span>
        </td>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">学校课程补习</span>
        </td>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">幼儿园课程</span>
        </td>
    </tr>

    <tr>
        <td><br></td>
    </tr>
    
    <tr>
        <td class="pr-10"> Jenis Pembayaran </td>
        <td class="pr-10"> : </td>
        <td class="pr-10"> <div class="checkbox"></div> Tunai </td>
        <td class="pr-10"> <div class="checkbox"></div> Transfer </td>
        <td class="pr-10"> <div class="checkbox"></div> Cek </td>
        <td class="pr-10"> <div class="checkbox"></div> Bilyet Giro </td>
    </tr>
    <tr>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">付款方式</span>
        </td>
        <td></td>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">现金</span>
        </td>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">汇款</span>
        </td>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">支票</span>
        </td>
        <td class="pr-10">
            <div class="checkbox-no-border"></div>
            <span class="mandarin">转账支票</span>
        </td>
    </tr>
</table>