<table class="table-bank">
    <tr>
        <td rowspan="2" class="border-right-2">
            <!-- <img src="" alt="" class="logo-bank"> -->
            <div class="logo-bank">
                <img src="{{logo_bank}}" alt="">
            </div>
        </td>

        <td class="border-right-2 border-btm-2">
            <span class="mandarin">银行账户号码</span> <br>
            (No. Rekening)
        </td>

        <td class="border-right-2 border-btm-2">
            {{kursus.no_rek}}
        </td>

        <td rowspan="2">
            <div class="text-trimakasih">
                TERIMAKASIH ATAS DUKUNGAN ANDA <br>
                <span class="mandarin">衷心感谢对学生一家的支持</span>
            </div>
        </td>

        <td rowspan="2">
            <div class="text-smile">
                <img src="{{smileimage}}" alt="Smile Image">
            </div>
        </td>
    </tr>

    <tr>
        <td class="border-right-2">
            <span class="mandarin">收款人</span> <br>
            (Nama Penerima)
        </td>
        <td class="border-right-2">{{kursus.nama_rek}}</td>
    </tr>
</table>