<table class="table-terima">

    <tr>
        <td class="pr-10">Sudah Terima Dari</td>
        <td class="pr-10">:</td>
        <td>
            <div class="border-dot-bottom mandarin">{{ tagihan.terima_dari }}</div>
        </td>
    </tr>
    <tr>
        <td class="pr-10"><span class="mandarin">今 收 到</span></td>
    </tr>

    <tr>
        <td><br></td>
    </tr>

    <tr>
        <td class="pr-10">Uang Sejumlah</td>
        <td class="pr-10">:</td>
        <td>
            <div class="border-dot-bottom">{{ terbilang }}</div>
        </td>
    </tr>
    <tr>
        <td class="pr-10"><span class="mandarin">金 额</span></td>
        <td class="pr-10"></td>
        <td>
            <div class="border-dot-bottom"></div>
        </td>
    </tr>

    <tr>
        <td><br></td>
    </tr>

    <tr>
        <td class="pr-10">Untuk Pembayaran</td>
        <td class="pr-10">:</td>
        <td>
            <div class="border-dot-bottom">{{ untuk_spp }}</div>
        </td>
    </tr>
    <tr>
        <td class="pr-10"><span class="mandarin">收 款 事 出</span></td>
        <td class="pr-10"></td>
        <td>
            <div class="border-dot-bottom">{{ untuk }}</div>
        </td>
    </tr>

</table>