<app-detail table="deposit" id="vm.dataId" fields="vm.fields" list="siswa.deposit">
    <app-detail-button class="d-flex">
        <button class="btn btn-link text-gradient text-primary px-3 mb-0" ng-click="vm.uploadBukti()" ng-if="vm.data.status == 'a'">
            <i class="fa fa-upload me-2"></i> Upload Bukti
        </button>
        <button 
            class="btn btn-link text-gradient text-primary px-3 mb-0"
            ng-if="vm.data.siswa.status == 'p' && !vm.isSiswa"
            ng-click="vm.updateStatus()">
            <i class="fa fa-check me-2"></i> Kembalikan
        </button>
    </app-detail-button>
    
    <app-detail-title>
        <h6 class="mb-0">
            <span class="text-gradient text-primary" ng-bind="vm.data.siswa.orang.nama"></span>
            <span class="badge badge-sm bg-gradient-info" ng-bind="vm.getValue(vm.status_field)"></span>
        </h6>
    </app-detail-title>
</app-detail>