<app-form detail="pembayaran.tagihan_detail" list="pembayaran.tagihan" id="vm.dataId" table="tagihan" fields="vm.fields" data="vm.data">
    <app-form-body>
        <ul class="nav nav-tabs mt-5 text-xs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="list" href="#detail">Detail</a>
            </li>
        </ul>

        <div class="tab-content text-justify">
            <div class="tab-pane fade show active" id="detail">
                <div class="mt-3">
                    <button type="button" class="btn btn-link text-gradient text-primary px-3 mb-0" ng-click="vm.tambahDetail()">
                        <i class="fa fa-pencil me-2"></i> Edit
                    </button>
                </div>

                <div class="my-3">
                    <!-- <app-table-template 
                        data="vm.data.tagihan_detail" 
                        fields="vm.tagihanDetailFields"></app-table-template> -->

                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th 
                                            class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                            ng-repeat="field in vm.tagihanDetailFields" ng-bind="field.name"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="vm.data.tagihan_detail.length == 0">
                                        <td colspan="{{ vm.tagihanDetailFields.length }}" class="text-center">
                                            <span class="text-xs font-weight-bold">No data Available</span>
                                        </td>
                                    </tr>
                        
                                    <tr ng-if="vm.data.tagihan_detail.length > 0" ng-repeat="data in vm.data.tagihan_detail track by $index">
                                        <td ng-repeat="field in vm.tagihanDetailFields" ng-switch="field.type">
                                            <span
                                                ng-switch-when="number"
                                                class="text-xs font-weight-bold" 
                                                app-number-format="vm.getNumber(field, data)"></span>
                        
                                            <span
                                                ng-switch-when="date"
                                                class="text-xs font-weight-bold" 
                                                app-date-format="data[field.value]"></span>
                                                
                                            <span
                                                ng-switch-default
                                                class="text-xs font-weight-bold" 
                                                ng-bind="data[field.value]"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </app-form-body>
</app-form>