<div class="row">
    <div class="col-12 my-3" ng-if="vm.form">
        <button class="btn btn-link text-primary text-gradient px-3 mb-0" ng-click="vm.tambahData()">
            <i class="fas fa-plus me-2"></i> Tambah
        </button>

        <div class="float-end" ng-transclude="button"></div>
    </div>

    <div class="col-12 my-3">
        <div class="card">
            <div class="card-header text-gradient text-primary">
                <h6 class="mb-0" ng-bind="vm.title"></h6>
            </div>
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th 
                                    class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    ng-repeat="field in vm.fields" ng-bind="field.name"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="vm.data.length == 0">
                                <td colspan="{{ vm.fields.length }}" class="text-center">
                                    <span class="text-xs font-weight-bold">No data Available</span>
                                </td>
                            </tr>

                            <tr ng-if="vm.data.length > 0" ng-repeat="data in vm.data track by $index" ng-click="vm.goDetail(data)">
                                <td ng-repeat="field in vm.fields" ng-switch="field.type">
                                    <span
                                        ng-switch-when="number"
                                        class="text-xs font-weight-bold" 
                                        app-number-format="vm.getValue(data, field)"></span>

                                    <span
                                        ng-switch-when="date"
                                        class="text-xs font-weight-bold" 
                                        app-date-format="vm.getValue(data, field)"></span>

                                    <span
                                        ng-switch-default
                                        class="text-xs font-weight-bold" 
                                        ng-bind="vm.getValue(data, field)"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>