<div class="row">
    <div class="col-12 my-3" ng-if="vm.addable">
        <button class="btn btn-link text-primary text-gradient px-3 py-0 mb-0" ng-click="vm.tambahData()">
            <i class="fas fa-plus me-2"></i> Tambah
        </button>

        <div class="float-end" ng-transclude="button"></div>
    </div>

    <div class="col-12 my-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-gradient text-primary">
                        <h6 class="mb-0" ng-bind="vm.title"></h6>
                    </div>
                    <div class="col-md-3" ng-if="!vm.nosearch">
                        <div class="input-group" ng-class="focused ? 'focused' : ''">
                            <span class="input-group-text text-body"><i class="fas fa-search"></i></span>
                            <input 
                                type="text" 
                                class="form-control form-control-sm"
                                ng-model="vm.searchValue"
                                ng-model-options="{ debounce: 500 }"
                                placeholder="Search..." 
                                ng-focus="focused=true" 
                                ng-blur="focused=false">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <div class="text-start">
                        <button 
                            class="btn btn-link text-primary text-gradient py-0 mb-0 px-1" 
                            title="Filter"
                            ng-click="vm.showFilter()">
                            <i class="fa fa-filter"></i> Filter
                        </button>
                        <button 
                            class="btn btn-link text-primary text-gradient py-0 mb-0 px-1" 
                            title="Sort"
                            ng-click="vm.showSort()">
                            <i class="fa fa-sort"></i> Sort
                        </button>
                    </div>
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th 
                                    class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    ng-repeat="field in vm.fields" ng-bind="field.name"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="vm.data.length == 0">
                                <td colspan="{{ vm.fields.length }}" class="text-center">
                                    <span class="text-xs font-weight-bold">No data Available</span>
                                </td>
                            </tr>

                            <tr ng-if="vm.data.length > 0" ng-repeat="data in vm.data track by $index" ng-click="vm.goDetail(data)">
                                <td ng-repeat="field in vm.fields" ng-switch="field.type">
                                    <span
                                        ng-switch-when="number"
                                        class="text-xs font-weight-bold" 
                                        app-number-format="vm.getValue(data, field)"></span>

                                    <span
                                        ng-switch-when="date"
                                        class="text-xs font-weight-bold" 
                                        app-date-format="vm.getValue(data, field)"></span>

                                    <span
                                        ng-switch-default
                                        class="text-xs font-weight-bold" 
                                        ng-bind="vm.getValue(data, field)"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a 
                                href="javascript:;" 
                                class="page-link" 
                                ng-class="vm.currentPage == 1 ? 'disabled' : ''"
                                ng-click="vm.changePage(vm.currentPage - 1)">
                                <i class="fa fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" ng-repeat="line in vm.page_array" ng-class="line == vm.currentPage ? 'active' : ''">
                            <a href="javascript:;" class="page-link" ng-click="vm.changePage(line)" ng-bind="line"></a>
                        </li>
                        <li class="page-item">
                            <a 
                                href="javascript:;" 
                                class="page-link"
                                ng-class="vm.currentPage == vm.lastPage ? 'disabled' : ''"
                                ng-click="vm.changePage(vm.currentPage + 1)">
                                <i class="fa fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>