<app-modal data='vm.data'>
    <app-modal-title>Bayar Tagihan</app-modal-title>

    <app-modal-body>
        <div class="row">

            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header py-2">
                        <h6 ng-bind="vm.data.siswa.orang.nama"></h6>
                    </div>

                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td class="text-xs">Sub Total</td>
                                        <td class="px-3">:</td>
                                        <td class="font-weight-bolder text-dark text-xs">
                                            <span app-number-format="vm.data.sub_total"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-xs">Potongan</td>
                                        <td class="px-3">:</td>
                                        <td class="font-weight-bolder text-dark text-xs">
                                            <span app-number-format="vm.data.potongan"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td class="text-xs">Total</td>
                                        <td class="px-3">:</td>
                                        <td class="font-weight-bolder text-dark text-xs">
                                            <span app-number-format="vm.data.total"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-xs">Hutang</td>
                                        <td class="px-3">:</td>
                                        <td class="font-weight-bolder text-dark text-xs">
                                            <span app-number-format="vm.data.hutang"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <table>
                    <tr ng-repeat="field in vm.transaksiFields" ng-if="!field.hidden && !(field.value == 'nominal' && vm.modal.form.status == 'v')">
                        <td class="text-xs" ng-bind="field.name"></td>
                        <td class="px-3">:</td>
                        <td>
                            <app-form-input 
                                type="{{field.type}}" 
                                expr="vm.modal.form.{{field.value}}"></app-form-input>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </app-modal-body>

    <app-modal-footer>
        <button type="button" class="btn btn-link text-primary text-gradient px-3" ng-click="vm.buatTransaksi()">
            <i class="fas fa-times me-2"></i> Save
        </button>
        <button type="button" class="btn btn-link text-dark text-gradient px-3" data-bs-dismiss="modal">
            <i class="fas fa-times me-2"></i> Close
        </button>
    </app-modal-footer>
</app-modal>