<app-modal data='vm.data'>
    <app-modal-title>Tambah Diskon</app-modal-title>

    <app-modal-body>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-gradient text-primary">Data Diskon</div>
                    <div class="card-body p-0">
                        <div class="table-responsive p-0" ng-init="vm.fetchDiskon()">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Diskon</th>
                                        <th class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tipe Diskon</th>
                                        <th></th>
                                    </tr>
                                </thead>
                
                                <tbody>
                                    <tr ng-if="!vm.modal.diskon.data || vm.modal.diskon.data.length === 0">
                                        <td colspan="3" class="text-center">
                                            <span class="text-xs font-weight-bold">No data Available</span>
                                        </td>
                                    </tr>
                                    <tr ng-if="vm.modal.diskon.data" ng-repeat="diskon in vm.modal.diskon.data">
                                        <td class="text-xs font-weight-bold" app-number-format="diskon.diskon"></td>
                                        <td class="text-xs font-weight-bold" ng-bind="vm.getDiskonOpt(diskon.tipe_diskon)"></td>
                                        <td>
                                            <button
                                                type="button"
                                                class="btn btn-link text-primary text-gradient px-3 my-0" 
                                                ng-click="vm.addDiskon(diskon)">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-modal-body>

    <app-modal-footer>
        <button type="button" class="btn btn-link text-dark text-gradient px-3" data-bs-dismiss="modal">
            <i class="fas fa-times me-2"></i> Close
        </button>
    </app-modal-footer>
</app-modal>